{% extends "landing/base.html" %}

{% block content %}
  <section class="section legal">
    <div class="container">
      <h1>Términos y condiciones</h1>
      <p>El acceso a la plataforma implica la aceptación de estos términos.</p>
      <h2>Uso permitido</h2>
      <p>Queda prohibido el uso indebido o no autorizado de la información.</p>
      <h2>Responsabilidades</h2>
      <p>Inversure Homes no se hace responsable del mal uso de la plataforma por terceros.</p>
    </div>
  </section>
{% endblock %}
